.l-NewsContainer{
  max-width: 750px;
  width: 95vw;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.c-NewsTitle{
  font-size: 3.2rem;
}
.p-NewsThumbnailWrapper{
  width: 100%;
  height: fit-content;
  aspect-ratio: 15/8;
}

.p-NewsThumbnailWrapper > img{
  height: 100%;
  object-fit: cover;
}

.p-NewsContent{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.p-NewsContent > p{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.p-NewsContent > h2{
  font-size: 2.4rem;
  font-weight: bold;
}

.p-NewsContent > h3{
  font-size: 1.8rem;
  font-weight: 500;
}

.p-News__NavBtnWrapper{
  border-top: 1px solid #B8AED5;
  border-bottom: 1px solid #B8AED5;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 9.4rem;
}
.p-News__Prev, .p-News__Next{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.p-News__Prev > a, .p-News__Next > a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 300;
}

.c-News__toIndex{
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  width: 100%;
}
